body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0.5;
    background: linear-gradient(60deg, #3023ae 0%, #c86dd7 100%);
}

button {
    cursor: pointer;
}

ul {
    text-align: left;
    margin: 10px;
    padding: 10px;
    list-style: none;
    background: #fff;
    border-radius: 10px;
    box-shadow: 3px 4px 14px 0px rgba(0, 0, 0, 0.39);
}

li {
    padding: 15px;
    margin: 10px;
    font-size: 1em;
    font-style: italic;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

li>button {
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-left: 5px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1em;
    float: right;
    opacity: 0.6;
    transition: opacity 0.65s;
}

li>button:hover {
    opacity: 1;
    transition: opacity 0.65s;
}